/*!

Authors: Jack Hegman & Peter Hegman
Description: Fantasy Enduro World Series
Version: 1.0.0
Instructions: DON'T Edit app.css. Instead edit resources/assets/sass/app.scss.
To complile app.scss first install gulp. npm install -g gulp, then navigate to 
the fantasyEnduro directory and run the command gulp. Or run gulp watch to compile
the file everytime it is saved

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Imports
# Typography
# Reusable Components
# Welcome Page
# Set Linup
# Race Result Pages
# Athlete Pages
# League Pages
# User Pages
# Rankings Page
# User Settings

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$color-white: #fff;
$color-black: #000;
$color-turquoise: #21b8c6;
$color-red: #DD3352;
$color-purple: #9013EF;
$color-grey: #e7ecf1;
$color-light-grey: #f1f3f6;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);


/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600);
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Emoji Picker
@import "node_modules/rm-emoji-picker/src/scss/emojipicker.scss";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------------------------
# Reusable Components
--------------------------------------------------------------*/

.btn-primary {
	border-radius: 3px;
	box-shadow: none;
	background-color: $color-turquoise;
	border: 0;
	transition: 0.3s;
	text-transform: uppercase;
	padding: 10px 25px;
	display: inline-block;

	&:hover,
	&:focus {
		background-color: darken($color-turquoise, 10%);
		text-decoration: none;
	}
}

//Form Styling

input[type="text"],
input[type="password"]
input[type="number"] {
	height: 40px;
	border: 1px solid $color-light-grey;
	padding-left: 15px;

	&::-webkit-input-placeholder {
	   color: #ced6dc;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: #ced6dc;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: #ced6dc;  
	}

	&:-ms-input-placeholder {  
	   color: #ced6dc;  
	}
}

.errors {
	color: #a94442;
}

//Search Bar
.search-wrap {
	position: relative;

	input {
		padding-left: 40px;
	}

	.fa-search {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		color: #ced6dc;
	}
}

//Modal
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	@media screen and (min-width: $screen-sm) {
		display: table-cell;
		vertical-align: middle;
	}
}

.modal-container {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	padding: 20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(2, 2, 2, 0.1);
	transition: all .3s ease;

	@media screen and (min-width: $screen-sm) {
		position: relative;
		top: initial;
		bottom: initial;
		left: initial;
		right: initial;
		width: 450px;
		margin: 0 auto;
	}

	.fa-times {
		cursor: pointer;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 20px;
	}
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*--------------------------------------------------------------
# Welcome Page
--------------------------------------------------------------*/

.test-again{
	
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 1;
}

.content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 84px;
    font-weight: 100;
    color: $color-white;
}

.links > a {
    color: $color-white;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.landing-bg-image {
	position: relative;
	background-image: url(../img/landing-page-bg-image.jpg);
	background-size: cover;
	background-position: 50% 50%;

	.cover {
		background: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, transparent 100%);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

/*--------------------------------------------------------------
# Set Lineup
--------------------------------------------------------------*/

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
 	transition: opacity .8s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
 	opacity: 0
}

.set-linup-noty {
	position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
}

.dragArea {
	height: 400px;
	overflow: auto;

	.racer {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.head-shot {
		background-position: 50% 50%;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		background-size: cover;
		display: inline-block;
		vertical-align: middle;
	}

	.racer-name {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.racer-header {
		position: relative;
	}

	.plus-btn,
	.minus-btn {
		display: flex;
		align-items: center;
		height: 30px;
		width: 30px;
		justify-content: center;
		vertical-align: middle;
		border-radius: 50%;
		background-color: $color-turquoise;
		color: $color-white;
		margin-right: 25px;
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		cursor: pointer;
		transition: 0.3s;

		&:hover,
		&:focus {
			transform: translateY(-50%) scale(1.1);
		}
	}
}

.lineup-search {
	margin-bottom: 25px;
}

.available-racers,
.your-lineup {
	.content-wrap {
		background-color: $color-white;
		box-shadow: 0 2px 2px 0 rgba(2, 2, 2, 0.1);
		border-radius: 5px;
		padding: 25px 0 25px 0;
		position: relative;

		.too-many-racers {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;

			h3 {
				color: $color-turquoise;
			}
		}
	}

	h2 {
		text-align: center;
		margin: 0;
	}

	.racer {
		padding-left: 25px;

		&:not(:last-of-type) {
			border-bottom: 1px solid $color-light-grey;
		}
	}
}

.save-lineup {
	text-align: center;

	.save-lineup-btn {
		margin-top: 25px;
	}
}

.racer-meta {
	text-align: center;

	.athlete-profile-btn {
		margin-bottom: 20px;
		margin-top: 10px;
	}
}

.page-set-lineupmen,
.page-set-lineupwomen {
	.modal-container {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: $screen-sm) {
			display: block;
		}
	}
}

//Lineup Modal
.modal-head-shot {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.stats {
	margin-bottom: -20px;
	margin-left: -20px;
	margin-right: -20px;
	border-radius: 0 0 3px 3px;
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 20px;

	@media screen and (min-width: $screen-sm) {
		position: static;
		width: auto;
	}
}

.races-won,
.stages-won,
.points-scored {
	float: left;
	width: 33.3333%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: $screen-sm) {
		height: 90px;
	}

	span {
		display: block;
		text-align: center;
	}

	.stat-title {
		font-size: 14px;
		color: $color-white;
	}

	.stat {
		font-size: 20px;
		color: $color-white;
	}
}

.races-won {
	background-color: $color-purple;
	border-bottom-left-radius: 3px;
}

.stages-won {
	background-color: $color-red;
}

.points-scored {
	background-color: $color-turquoise;
	border-bottom-right-radius: 3px;
}

.lineup-cta {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: relative;
	overflow: hidden;

	&:hover,
	&:focus {
		text-decoration: none;

		.cta-image {
			transform: scale(1.05);
		}
	}

	.cta-image {
		background-position: 50% 50%;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: 0.3s;
	}

	.cover {
		background: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, transparent 100%);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	h2 {
		position: relative;
		z-index: 2;
		color: $color-white;
	}
}

.men-lineup {
	.cta-image {
		background-image: url('../img/set-mens-lineup.jpg');
	}
}

.women-lineup {
	.cta-image {
		background-image: url('../img/set-womens-lineup.jpg');
	}
}

/*--------------------------------------------------------------
# Race Result Pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Athlete Pages
--------------------------------------------------------------*/
.button-results, .race-results, .statistics{
	background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin-top: 20px;
}

.cover-athlete{
	height: 350px;
    display: table;
    width: 100%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(03,39,63,.85);
    background-image: url('../img/richie.jpg');
}

.athlete-info{
	display: table-cell;
    vertical-align: bottom;
    padding-left: 10%;
    font-size: 26px;
    line-height: 1;
    color: white;
    padding-bottom: 20px;
    position: static;
}

.athlete-name{
	display: inline-block;
    line-height: 15px;
    vertical-align: middle;
}

.athlete-name h1{
	margin-bottom: 0px;
    font-size: 26px;
    line-height: 1;
}

.athlete-name span{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 4px;
}

.tabs{
	display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 1px;
    height: 40px;
}

.tabs-container{
    border-bottom: 1px solid #e6e7e9;
    width: 100%;
}

.athlete-links{
	flex-grow: 1;
    display: block;
    font-size: 14px;
    padding-top: 6px;
    width: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    float: none;
    font-weight: 600;
    color: #5eaffd;
    cursor: pointer;
    line-height: 2;
}

.athlete-links a:hover{
	color: #232323;
	text-decoration: none;
    transition: color 0.2s ease;
}

.athlete-links a{
	text-decoration: none;
}

.active:not(.select-category){
	border-bottom: 3px solid #147cd1;
}

.active a{
	color: #232323;
}

/*--------------------------------------------------------------
# League Pages
--------------------------------------------------------------*/
#chatArea {
	overflow: auto;
	height: 300px;

}

.dropdown {
	cursor: pointer;
}

.my-chats{
	max-width:60%;
    border-radius: 2.8px;
    background-color: #21b8c6;
    box-shadow: 0 1px 1px 0 rgba(2, 2, 2, 0.02);
    padding: 8px;
    padding-top: 4px;
	padding-bottom: 4px;
    color: #ffffff;
    display: inline-table;
}

.others-chats{
	max-width:60%;
	border-radius: 2.8px;
	background-color: #e7ecf1;
	box-shadow: 0 1px 1px 0 rgba(2, 2, 2, 0.02);
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #475965;
	display: inline-table;
}

.arrow-right{
	color: #21b8c6;
    font-size: 6px;
    display:inline-block;
}

.li-image{
	display: inline-block;
	background-position: 50% 50%;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}

.input-wrap {
	position: relative;

	.choose-emoji-btn {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		font-size: 18px;
		cursor: pointer;
	}
}

/*--------------------------------------------------------------
# User Pages
--------------------------------------------------------------*/
.lineups {
	list-style: none;
    padding-left: 0;
}

.not-valid-user {
	text-align: center;
}

.head-shot-user {
		background-position: 50% 50%;
		border-radius: 50%;
		height: 150px;
		width: 150px;
		background-size: cover;
		display: inline-block;
		vertical-align: middle;
}

/*--------------------------------------------------------------
# Rankings Page
--------------------------------------------------------------*/
.overflow {
	overflow: auto;
	height: 300px;
}

.rankings, .rankings-first{
	display:table-row;
}

.rankings-top{
    display:table-row;
    background-color: #f5f5f5;
    font-family: "proxima-nova",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.2;
    color: #5b6c77;
    text-transform: uppercase;
}
.rider{
	display: table-cell;
    padding-left: 5px;
    padding-bottom: 17px;
    padding-top: 17px;
    line-height: 1.7;
    vertical-align: middle;
    border-top: 1px solid #e6e7e9;
}

.rank{
	display: table-cell;
    padding-bottom: 17px;
    padding-top: 17px;
    color: #94a1a9;
    width: 30px;
    border-top: 1px solid #e6e7e9;
    line-height: 1.7;
    vertical-align: middle;
}
.rank-top, .rider-top{
	border-collapse: collapse;
    display: table-cell;
    line-height: 1.7;
    padding-bottom: 13px;
    padding-top: 13px;
    vertical-align: middle;
}

.rankings:before, .rankings-top:after, .rankings-top:before, .rankings:after {
	content:"";
	width:30px;
	display:table-cell;
}

.rankings-first:after, .rankings-first:before{
	content:"";
	width:30px;
	display:table-cell;
	border-top: 1px solid #e6e7e9;
}

.rider a{
	color: #232323;
	transition: color 0.2s ease;
	text-decoration: none;
    font-weight: 600;
}

.rider a:hover{
	color: #3097D1;
}

.rider-container{
	background-color: #fff;
    display: table;
    width: 100%;
    border: 1px solid #e6e7e9;
    border-top: 2px solid #147cd1;
}

.score{
	color: #94a1a9;
    font-size: 12px;
    font-weight: 400;
}

/*--------------------------------------------------------------
# User Settings Page
--------------------------------------------------------------*/
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color-turquoise;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  margin-left:auto;
  margin-right:auto;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $color-turquoise;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color-turquoise;
  }
}

.changed{
	height: 20px;
	font-family: ProximaNova;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.2px;
	text-align: center;
	color: #475965;
}

.newUser{
	height: 14px;
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.2px;
	text-align: center;
	color: #7d8e9a;
}

.btn-home{
	display:table;
	margin-left:auto;
	margin-right:auto;
}