/*!

Authors: Jack Hegman & Peter Hegman
Description: Fantasy Enduro World Series
Version: 1.0.0
Instructions: DON'T Edit app.css. Instead edit resources/assets/sass/app.scss.
To complile app.scss first install gulp. npm install -g gulp, then navigate to 
the fantasyEnduro directory and run the command gulp. Or run gulp watch to compile
the file everytime it is saved

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 0.0 Variables
# 1.0 Imports
# 2.0 Typography
# 3.0 Set Linup
# 4.0 Race Result Pages
# 5.0 Athlete Pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 0.0 Variables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 1.0 Imports
--------------------------------------------------------------*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*--------------------------------------------------------------
# 2.0 Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 3.0 Set Lineup
--------------------------------------------------------------*/

.dragArea {
	min-height: 500px;
}

/*--------------------------------------------------------------
# 4.0 Race Result Pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 5.0 Athlete Pages
--------------------------------------------------------------*/
