/*!

Authors: Jack Hegman & Peter Hegman
Description: Fantasy Enduro World Series
Version: 1.0.0
Instructions: DON'T Edit app.css. Instead edit resources/assets/sass/app.scss.
To complile app.scss first install gulp. npm install -g gulp, then navigate to 
the fantasyEnduro directory and run the command gulp. Or run gulp watch to compile
the file everytime it is saved

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Imports
# Typography
# Reusable Components
# Welcome Page
# Set Linup
# Race Result Pages
# Athlete Pages
# League Pages
# User Pages

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$color-white: #fff;
$color-black: #000;
$color-turquoise: #21b8c6;
$color-red: #DD3352;
$color-purple: #9013EF;
$color-grey: #e7ecf1;
$color-light-grey: #f1f3f6;

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600);
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------------------------
# Reusable Components
--------------------------------------------------------------*/

.btn-primary {
	border-radius: 3px;
	box-shadow: none;
	background-color: $color-turquoise;
	border: 0;
	transition: 0.3s;
	text-transform: uppercase;
	padding: 10px 25px;
	display: inline-block;

	&:hover,
	&:focus {
		background-color: darken($color-turquoise, 10%);
		text-decoration: none;
	}
}

//Form Styling

input[type="text"],
input[type="password"]
input[type="number"] {
	height: 40px;
	border: 1px solid $color-light-grey;
	padding-left: 15px;

	&::-webkit-input-placeholder {
	   color: #ced6dc;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: #ced6dc;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: #ced6dc;  
	}

	&:-ms-input-placeholder {  
	   color: #ced6dc;  
	}
}

//Search Bar
.search-wrap {
	position: relative;

	input {
		padding-left: 40px;
	}

	.fa-search {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		color: #ced6dc;
	}
}

//Modal
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	@media screen and (min-width: $screen-sm) {
		display: table-cell;
		vertical-align: middle;
	}
}

.modal-container {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	padding: 20px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(2, 2, 2, 0.1);
	transition: all .3s ease;

	@media screen and (min-width: $screen-sm) {
		position: relative;
		top: initial;
		bottom: initial;
		left: initial;
		right: initial;
		width: 450px;
		margin: 0 auto;
	}

	.fa-times {
		cursor: pointer;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 20px;
	}
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*--------------------------------------------------------------
# Welcome Page
--------------------------------------------------------------*/

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 1;
}

.content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 84px;
    font-weight: 100;
    color: $color-white;
}

.links > a {
    color: $color-white;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.landing-bg-image {
	position: relative;
	background-image: url(../img/landing-page-bg-image.jpg);
	background-size: cover;
	background-position: 50% 50%;

	.cover {
		background: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, transparent 100%);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

/*--------------------------------------------------------------
# Set Lineup
--------------------------------------------------------------*/

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
 	transition: opacity .8s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
 	opacity: 0
}

.set-linup-noty {
	position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
}

.dragArea {
	height: 400px;
	overflow: auto;

	.racer {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.head-shot {
		background-position: 50% 50%;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		background-size: cover;
		display: inline-block;
		vertical-align: middle;
	}

	.racer-name {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.racer-header {
		position: relative;
	}

	.plus-btn,
	.minus-btn {
		display: flex;
		align-items: center;
		height: 30px;
		width: 30px;
		justify-content: center;
		vertical-align: middle;
		border-radius: 50%;
		background-color: $color-turquoise;
		color: $color-white;
		margin-right: 25px;
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		cursor: pointer;
		transition: 0.3s;

		&:hover,
		&:focus {
			transform: translateY(-50%) scale(1.1);
		}
	}
}

.lineup-search {
	margin-bottom: 25px;
}

.available-racers,
.your-lineup {
	.content-wrap {
		background-color: $color-white;
		box-shadow: 0 2px 2px 0 rgba(2, 2, 2, 0.1);
		border-radius: 5px;
		padding: 25px 0 25px 0;
		position: relative;

		.too-many-racers {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;

			h3 {
				color: $color-turquoise;
			}
		}
	}

	h2 {
		text-align: center;
		margin: 0;
	}

	.racer {
		padding-left: 25px;

		&:not(:last-of-type) {
			border-bottom: 1px solid $color-light-grey;
		}
	}
}

.save-lineup {
	text-align: center;

	.save-lineup-btn {
		margin-top: 25px;
	}
}

.racer-meta {
	text-align: center;

	.athlete-profile-btn {
		margin-bottom: 20px;
		margin-top: 10px;
	}
}

.page-set-lineupmen,
.page-set-lineupwomen {
	.modal-container {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: $screen-sm) {
			display: block;
		}
	}
}

//Lineup Modal
.modal-head-shot {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.stats {
	margin-bottom: -20px;
	margin-left: -20px;
	margin-right: -20px;
	border-radius: 0 0 3px 3px;
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 20px;

	@media screen and (min-width: $screen-sm) {
		position: static;
		width: auto;
	}
}

.races-won,
.stages-won,
.points-scored {
	float: left;
	width: 33.3333%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: $screen-sm) {
		height: 90px;
	}

	span {
		display: block;
		text-align: center;
	}

	.stat-title {
		font-size: 14px;
		color: $color-white;
	}

	.stat {
		font-size: 20px;
		color: $color-white;
	}
}

.races-won {
	background-color: $color-purple;
	border-bottom-left-radius: 3px;
}

.stages-won {
	background-color: $color-red;
}

.points-scored {
	background-color: $color-turquoise;
	border-bottom-right-radius: 3px;
}

.lineup-cta {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: relative;
	overflow: hidden;

	&:hover,
	&:focus {
		text-decoration: none;

		.cta-image {
			transform: scale(1.05);
		}
	}

	.cta-image {
		background-position: 50% 50%;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: 0.3s;
	}

	.cover {
		background: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, transparent 100%);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	h2 {
		position: relative;
		z-index: 2;
		color: $color-white;
	}
}

.men-lineup {
	.cta-image {
		background-image: url('../img/set-mens-lineup.jpg');
	}
}

.women-lineup {
	.cta-image {
		background-image: url('../img/set-womens-lineup.jpg');
	}
}

/*--------------------------------------------------------------
# Race Result Pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Athlete Pages
--------------------------------------------------------------*/
.button-results, .race-results, .statistics{
	background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

/*--------------------------------------------------------------
# League Pages
--------------------------------------------------------------*/
#chatArea {
	overflow: auto;
	height: 300px;

}

.dropdown {
	cursor: pointer;
}

/*--------------------------------------------------------------
# 8.0 User Pages
--------------------------------------------------------------*/
.lineups {
	list-style: none;
    padding-left: 0;
}